
@{
    Layout = null;
}


<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h3> MVC Kamp Tablo Örneği - Kategori</h3>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Kategori Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
        <th>Güncelle</th>
    </tr>
    <tr>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td> <a class="btn btn-primary"> Güncelle</a> </td>
    </tr>
    <tr>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td> <a class="btn btn-primary"> Güncelle</a> </td>
    </tr>

</table>

<button class="btn btn-primary">
    Yeni Kategori
</button>

<button class="btn btn-info">
    Kategori Listesi
</button>

<button class="btn btn-danger">
    Kategori Açıklamaları
</button>

